@font-face {
   font-family: "Urban";
   src: url('../fonts/Urban_Blocker_Solid.ttf');
}

body {
   text-align: center;
   background-color: #202324;
   width: auto;
   height: auto;
   margin: auto;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
   margin: 0;
}

header {
   margin: 5px 0 5px;
   font-family: 'Urban';
   font-size: 99px;
   color: yellow;
}

#container {
   display: inline-block;
   width: auto;
   margin: 0 auto;
   border: 3px double white;
   border-radius: 5px;
   padding: 10px;
}

#grid {
   padding: 0px;
   line-height: 0px;
   font-size: 0px;
   background: dimgrey;
   border-radius: 4px;
}

#info {
   padding: 10px 0 20px;
   color: white;
   text-align: left;
}

#score::before {
   content:'SCORE: ';
}

#player {
   padding: 20px;
   color: white;
}

footer {
   margin: 20px 0 20px;
   color: yellow;
}

#goobi {
   position: relative;
   top:0;
   left:0;
}

.cell {
   display: inline-block;
   position: relative;
   width: 22px;
   height: 22px;
   /* border: 1px solid black; */
}

.dot {
   color: none;
   position: absolute;
   top:0;
   left:0;
}

.wall {
   border-radius: 4px;
   background: mediumblue;
}