
body {
   text-align: center;
}

#maze {
   margin:0px;
   padding:0px;
   line-height: 0px;
   font-size: 0px;
}

.cell {
   display: inline-block;
   background: dimgray;
   /* border: 1px solid black; */
}